:root {
    --body-bg: #FAFAFC;
    --theme-primary: #EC008C;
    --theme-secondary: #007AFF;
    --theme-ash: #F2F2F7;
    --theme-ash-2: #636366;
    --theme-gray: #2C2C2E;
    --theme-black: #000;
    --theme-black-2: #1c1c1e;
    --cw: #fff;
    
    --body-bg-rgb: 250, 250, 25;
    --theme-primary-rgb: 236, 0, 140;
    --theme-secondary-rgb: 255, 214, 119;
    --theme-ash-rgb: 242, 242, 247;
    --theme-ash-2-rgb: 99,99,102;
    --theme-gray-rgb: 44, 44, 46;
    --theme-black-rgb: 0, 0, 0;
    --theme-black-rgb-2: 28, 28, 30;
    --cw-rgb: 255, 255, 255;
    
    --default-transition: .3s ease;
}

* {
    margin:0;
    padding:0;
    outline:0;
    box-sizing:border-box
}
html,body{height:100%}
a {
    text-decoration: none;
    color: inherit;
}

ol,ul,li {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6, figure,p,nav {margin: 0}

button {
    background-color: transparent;
    border: 0;
    outline: 0;
}

img,video {
    max-width: 100%;
    vertical-align: top;
}

details summary::-webkit-details-marker {display: none}

body{
    background:var(--body-bg);
    font-family: "Poppins", sans-serif;
    color:var(--theme-black);
}

body.overlay {
    overflow: hidden;
}

.wrapper {
    --margin-top-main: 0px;
    margin-top: var(--margin-top-main);
    overflow-x: clip;
}

.f1 {font-family: "Poppins", sans-serif !important;}
.fw-3 {font-weight: 300 !important;}
.fw-4 {font-weight: 400 !important;}
.fw-5 {font-weight: 500 !important;}
.fw-6 {font-weight: 600 !important;}
.fw-7 {font-weight: 700 !important;}
.fw-8 {font-weight: 800 !important;}


.c-primary {color: var(--theme-primary) !important;}
.c-secondary {color: var(--theme-secondary) !important;}
.c-ash {color: var(--theme-ash) !important;}
.c-ash-2 {color: var(--theme-ash-2) !important;}
.c-gray {color: var(--theme-gray) !important;}
.c-black {color: var(--theme-black) !important;}

.body-bg {background: var(--body-bg) !important;}
.bg--primary {background: var(--theme-primary) !important;}
.bg--secondary {background: var(--theme-secondary) !important;}
.bg--ash {background: var(--theme-ash) !important;}
.bg--ash-2 {background: var(--theme-ash-2) !important;}
.bg--gray {background: var(--theme-gray) !important;}
.bg--black {background: var(--theme-black) !important;}

.ss-t {margin-top: 120px;}
.ss-b {margin-bottom: 120px;}
.ss-y {margin-block: 120px;}

/* buttons start */
.group-btns {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.group-btns .theme-btn {
    display: flex;
    padding: 15px 0;
    justify-content: center;
}

.theme-btn, .icon-btn {
    padding: 15px 30px;
    font-size: 14px;
    display: inline-flex;
    border-radius: 32px;
    font-weight: 600;
    transition: all var(--default-transition);
}

.black-btn {
    background: var(--theme-black);
    color: var(--cw);
}
.black-btn:hover {background: var(--theme-gray)}

.white-btn {
    background: var(--cw);
    color: var(--theme-black);
}
.blue-btn {
    background: var(--theme-secondary);
    color: var(--cw);
}

.icon-btn {
    padding: 12px 25px;
    background: var(--body-bg);
    color: var(--theme-black);
    font-size: 14px;
    align-items: center;
    border-radius: 32px;
    border: 2px solid var(--theme-ash);
}

.icon-btn i {
    line-height: 10px;
    display: inline-block;
    margin-inline-start: 10px;
}
/* buttons end */

/* other-page-header start */
.other-page-header h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.other-page-header p {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}
/* other-page-header end */

/* section-header start */
.section-header h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    color: var(--theme-black-2);
    text-wrap: balance;
}
.section-header p {
    text-wrap: balance;
    font-size: 16px;
    line-height: 26px;
    margin-block: 10px 20px;
}
/* section-header end */

/* ============ */
/* header start */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(var(--theme-black-rgb), .03);
    transition: all .4s ease;
    z-index: 20000;
}

/* offer */
.offer-slider {
    display: flex;
    align-items: center;
    width: max-content;
    --itemGap: 30px;
    column-gap: var(--itemGap);
}

.offer-slider > a {
    font-size: 14px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.offer-wrapper[data-animated="true"] {
    overflow: hidden;
}

.offer-wrapper[data-animated="true"][data-animated="true"] .offer-slider {
    animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}
.offer-wrapper[data-animated="true"][data-animated="true"] .offer-slider:hover{animation-play-state: paused;}

.offer-wrapper[data-animated="true"][data-direction="right"] {
    --_animation-direction: reverse;
}

.offer-wrapper[data-animated="true"][data-direction="left"] {
    --_animation-direction: forwards;
}

.offer-wrapper[data-animated="true"][data-speed="fast"] {
    --_animation-duration: 36s;
}

.offer-wrapper[data-animated="true"][data-speed="slow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - calc(var(--itemGap) / 2)));
    }
}

/*
* nav-middle
*/
.nav-middle {
    background: var(--theme-ash);
}

.nav-middle-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* region */
.custom-select-container {
    position: relative;
    width: fit-content;
}

.custom-select .selected-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 3px 0;
}

.custom-select .selected-item img {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.custom-select .selected-item > span:not(.arrow) {
    margin-inline: 5px;
    font-size: 15px;
}

.custom-select .selected-item .arrow {
    display: inline-block;
    margin: -1px auto 0 0;
    transform-origin: center;
    transition: all var(--default-transition);
}

.custom-select .custom-options {
    position: absolute;
    top: calc(100% + 25px);
    left: -5px;
    min-width: 220px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(var(--theme-black-rgb), .15);
    background: var(--cw);
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
}

.custom-select .custom-option {
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    transition: all var(--default-transition);
    cursor: pointer;
}

.custom-select .custom-option:not(.selected):hover {background: rgba(var(--theme-black-rgb), .03);}
.custom-select .custom-option.selected {background: rgba(var(--theme-secondary-rgb), .2);}

.custom-select .custom-option img {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin-right: 5px;
}

.custom-select-container.active .custom-options {
    transition: all var(--default-transition);
    top: calc(100% + 4px);
    visibility: visible;
    opacity: 1;
}

.custom-select-container.open-up .custom-options {
    top: auto;
    bottom: calc(100% + 2px);
}

.custom-select-container.active .custom-select .selected-item .arrow {transform: rotate(180deg)}

.nav-middle-inner ul {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 40px;
}

.nav-middle-inner ul a {
    padding: 10px 3px;
    display: flex;
    align-items: center;
    column-gap: 3px;
    color: var(--theme-gray);
    transition: all var(--default-transition);
}

.nav-middle-inner ul a span {
    font-size: 13px;
}
.nav-middle-inner ul a:hover {color: var(--theme-black);}



/*
* main-nav
*/
.the-menu {
    margin-inline-start: 50px;
}

.the-cart > a {
    transition: all var(--default-transition);
    display: inline-block;
}
.the-cart > a i {position: relative;}
.the-cart > a i::after {
    opacity: 0;
    content: "";
    height: 6px;
    width: 6px;
    right: -2px;
    top: -4px;
    position: absolute;
    background: var(--theme-primary);
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 #ec008c;
    transform: scale(1);
    animation: 2.5s infinite pulse;
    transition: opacity .35s ease-in-out;
}
.the-cart > a i.hs-content::after {opacity: 1;}
@keyframes pulse {
    0% {
        transform: scale(.95);
        box-shadow: 0 0 #ec008c99;
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 3px #ec008c00;
    }
    100% {
        transform: scale(.95);
        box-shadow: 0 0 #ec008c00;
    }
}

.the-menu > ul {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.the-menu > ul > li {position: static}
.the-menu > ul > li:not(.bundles) > a i {
    transition: all var(--default-transition);
    display: inline-block;
    margin-top: -1px;
    transform-origin: center;
}
.the-menu > ul > li:not(.bundles):hover > a > i {transform: rotate(180deg)}
.the-menu > ul:hover > li:not(.bundles):not(:hover) > a {opacity: .5;}
.the-menu > ul > li > a {
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 16px;
    font-weight: 500;
    letter-spacing: .1rem;
    transition: all var(--default-transition);
}

.the-menu > ul > li > a i:not(span + i) {transform: translateY(-2px)}
.the-menu > ul > li > a span {font-size: 16px;}

.the-menu > ul > li .mega-menu-container {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 20px 0;
    background: #FAFAFC;
    box-shadow: 0 30px 50px -25px rgba(var(--theme-black-rgb), .1);
    visibility: hidden;
    opacity: 0;
    transition: all var(--default-transition);
}

.the-menu > ul > li:hover > .mega-menu-container {
    visibility: visible;
    opacity: 1;
}

.mm-col {
    padding: 15px;
    border-radius: 8px;
    height: 100%;
}
.mm-col.mm-ul {
    li {margin-top: 15px;}
    a {
        font-size: 14px;
        color: var(--theme-gray);
    }
}
.mm-col h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.mm-col figure > a img {
    border-radius: 8px;
}

/* mobile menu start */
.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    transition-delay: 1s;
}

.hamburger-wrapper {
    display: flex;
    width: 50px;
    padding: 21px 6px;
    border-radius: 4px;
    background: var(--cw);
    position: absolute;
    top: 29px;
    left: calc(100% + 10px);
    cursor: pointer;
    z-index: 91;
    transition: all 0.3s ease-in-out 0.25s;
}

.focus .hamburger-wrapper {
    left: calc(100% + 0px);
    border-left-color: var(--theme-gray);
    border-radius: 0 4px 4px 0;
}

.hamburger-menu {
    position: relative;
    background: var(--theme-gray);
    transition: all 0ms 200ms;
    display: block;
}

.hamburger-menu.animate {
    background: rgba(var(--cw-rgb), 0);
}

.hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    background: var(--theme-gray);
    transition: bottom 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    background: var(--theme-gray);
    transition: top 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.mm-header {
    display: flex;
    padding: 15px 20px;
    background: var(--theme-ash);
    align-items: center;
    justify-content: space-between;
}
.mm-header > a {
    display: flex;
    align-items: center;
}
.mm-header > a > span {
    font-size: 13px;
    font-weight: 500;
}


.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 300px;
    height: 100vh;
    flex-direction: column;
    background: var(--cw);
    box-shadow: 15px 0 20px -10px rgba(var(--cw-rgb), 0);
    transition: all 0.3s ease 0.25s;
}

.mobile-menu menu {
    width: 100%;
    height: calc(100vh - var(--othersHeight));
    overflow: auto;
    padding: 5px 15px 0;
    margin-block: 10px;
}

.mobile-menu menu>li>a {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px -2px rgba(var(--theme-black-rgb), .1);
    border: 3px solid transparent;
}

.mobile-menu menu>li>a>i {
    line-height: 12px;
}

.mobile-menu menu>.has-child {
    margin-bottom: 20px;
}

.mobile-menu menu>.has-child>a {
    justify-content: space-between;
    transition: all var(--default-transition) .4s;
}

.mobile-menu menu>.has-child>a>i {
    display: inline-block;
    transition: all var(--default-transition);
}

.mobile-menu menu>.has-child.open>a {
    transition: all var(--default-transition) 0s;
    border-radius: 8px 8px 0 0;
    box-shadow: none;
    border: 3px solid rgba(var(--theme-gray-rgb), 0.1);
    background: rgba(var(--theme-gray-rgb), .02);
}

.mobile-menu menu>.has-child.open>a>i {
    transform: rotate(180deg);
}

.mobile-menu menu .mega-menu-container {
    overflow: hidden;
    max-height: 0;
    border-inline: 3px solid rgba(var(--theme-gray-rgb), 0.1);
    background: rgba(var(--theme-gray-rgb), .02);
    border-radius: 0 0 8px 8px;
    transition: max-height 0.5s ease;
}

.mobile-menu menu .mega-menu-container .mm-col {
    border-radius: 0 0 6px 6px;
    padding-top: 0;
}

.mobile-menu menu .mega-menu-container .mm-col:last-of-type {
    border-bottom: 3px solid rgba(var(--theme-gray-rgb), 0.1);
}

.mobile-menu menu .mega-menu-container .mm-col li {
    margin-top: 8px;
}

.mobile-menu.focus {
    transform: translateX(0);
    box-shadow: 0 0 50px 100vw rgba(var(--theme-black-rgb), .5);
}

.mm-footer {
    display: flex;
    flex-direction: column;
    vertical-align: baseline;
    padding: 15px 20px;
}

.mm-footer>a {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    margin-bottom: 10px;
    column-gap: 10px;
    border-radius: 4px;
    border: 1px solid var(--theme-ash);
}

.mm-footer>a>span {
    display: inline-block;
    padding: 5px 10px;
    border-inline-start: 1px solid var(--theme-ash);
}

.mm-footer>.custom-select-container {
    width: 100%;
}

.mm-footer .custom-select .selected-item {
    width: 100%;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid var(--theme-ash);
}

.mm-footer .custom-select .selected-item .arrow {
    margin: -1px 0 0 auto;
}

.mm-footer .custom-select-container .custom-options {
    left: 0;
    width: 100%;
}

/* mobile menu end */
/* header end */
/* ========== */

/* hero-section start */
.hero-section figure a {
    display: block;
}

.hero-section figure video {
    width: 100%;
    height: 640px;
    object-fit: cover;
}

.hero-content h1 {
    font-size: 44px;
    line-height: 60px;
}

.hero-content p {
    line-height: 1.5;
    font-size: 1rem;
    margin-block: 15px 40px;
    color: var(--theme-ash-2);
}

.hero-content .group-btns {
    width: 70%;
}

/* hero-section-2 start */

.hero-section-2 .hero-2-content {
    height: 520px;
    position: relative;
    background: url(../images/hero/03.jpg) no-repeat center / cover;
}

.hero-section-2 .section-content {
    width: 60%;
    margin-inline: auto;
    padding: 50px 30px;
    background: rgba(var(--cw-rgb), .8);
    border-radius: 16px;
    box-shadow: inset 0 0 0 15px var(--theme-primary);
    backdrop-filter: blur(8px);
}

.hero-section-2 .section-content h1 {
    font-size: 42px;
    line-height: 50px;
}

.hero-section-2 .section-content p {
    font-size: 18px;
    font-weight: 600;
    margin-inline: -30px;
    padding: 10px;
    background: var(--theme-primary);
    text-wrap: balance;
}

.intro-block .section-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 30px;
    border-radius: 0 0 16px 16px;
}

.intro-block .section-content h3 {
    font-size: 28px;
    text-wrap: balance;
    text-align: end;
}

.intro-block .section-content p {
    margin-inline-start: 30px;
    padding-inline-start: 30px;
    border-inline-start: 2px solid var(--theme-secondary);
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-wrap: balance;
}

/* txt-media-block start */

.txt-media-block {
    padding-block: 30px;
}

.txt-media-block .section-content h2 {
    font-family: "Dosis", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--theme-primary);
    text-wrap: balance;
}

.txt-media-block .section-content h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--theme-ash);
    text-wrap: balance;
}

.txt-media-block .section-content p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-wrap: balance;
    margin-top: 15px;
}

.txt-media-block .section-content p > a {
    color: var(--theme-gray);
    text-decoration: underline;
    text-underline-offset: 2px;
}

.txt-media-block .section-content p > a:hover {
    color: var(--theme-primary);
}

.txt-media-block .section-content form {
    max-width: 100%;
    width: 400px;
    margin: 20px auto 0;
    display: flex;
    align-items: center;
    padding: 3px 0 3px 3px;
    border-radius: 8px;
}

.txt-media-block .section-content form input {
    width: calc(100% - 50px);
    height: 42px;
    border: none;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
}

.txt-media-block .section-content form button {
    width: 50px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.best-sellers-content .section-content {
    min-width: 100%;
    overflow-x: scroll;
    padding-top: 30px;
}

.best-seller-cards {
    padding-inline: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 20px;
}

.best-seller-cards .product-card {
    min-width: 280px;
    transition: all var(--default-transition);
}

.best-seller-cards .product-card.deactivated {
    opacity: 0.3;
}

.theme-badge {
    pointer-events: none;
    padding: .5rem 1rem;
    border-radius: .625rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: max-content;
    font-size: 16px;
    background: var(--theme-primary);
    color: var(--cw);
    border: 1px solid #c00172;
}

.product-card {
    position: relative;
    background: rgb(242, 242, 247);
    border-radius: 8px;
    transition: all var(--default-transition);
    z-index: 1;
}

.product-card .theme-badge {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-card .theme-btn {
    display: flex;
    padding: 15px 0;
    justify-content: center;
}

.product-card figure {
    position: relative;
}

.product-card figure>a>img {
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.product-card .product-caption {
    background: var(--cw);
    text-align: center;
    padding: 15px;
    border-radius: 0 0 8px 8px;
}

.product-card .product-caption h3 {
    line-height: 17px;
    margin-block: 10px 5px;
}

.product-card .product-caption h3>a {
    font-family: "Dosis", sans-serif;
    font-size: 17.6px;
    font-weight: 500;
    color: var(--theme-black);
}

.product-card .product-caption p {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 500;
    color: var(--theme-primary);
}

.product-card .product-caption p span {
    font-size: 16px;
    display: inline-block;
    margin-inline-end: 4px;
}

.product-card .product-options {
    position: absolute;
    top: 0;
    left: 0;
    width: 51px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
    z-index: 3;
    background: rgba(209, 209, 214, .4);
    border-radius: 8px 0 0 0;
}

.product-card .product-options li {
    width: 34px;
    height: 34px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    transition: all var(--default-transition) .1s;
}

.product-card .product-options li img {
    object-fit: cover;
    pointer-events: none;
}

.product-card .product-options li.active {
    box-shadow: 0 0 0 2px var(--theme-black);
}

.product-card .product-options li.more-options {
    background: var(--cw);
    color: var(--theme-black);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 12px;
}

.product-card .the-options img {
    display: none;
}

.product-card .the-options img.active {
    display: block;
    animation: fadeIn .8s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.collection-banner .section-content {
    background: url(../images/hero/02.jpg) no-repeat right center / cover;
    position: relative;
    border-radius: 16px;
    width: 100%;
    height: 600px;
    padding: 40px;
}

.collection-banner .section-content .section-header {
    max-width: 400px;
}

.collection-banner .section-content .section-header h2,
.collection-banner .section-content .section-header p {
    text-wrap: balance;
}

.collection-banner .section-content .section-header h2 {
    margin-top: 15px;
    line-height: 42px;
}

.collection-banner .section-content .section-header p {
    margin-block: 20px 30px;
}

.collection-banner .section-content .section-header .theme-btn:hover {
    background-color: #fafafc;
    transform: translateY(-4px);
}

.collection-banner .section-content .section-header .theme-btn:active {
    background-color: #e5e5ea;
    transform: translateY(-4px);
}

.big-badge {
    display: inline-block;
    padding: 4px 18px 5px 20px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 600;
}


.insta-block .section-header h2 a {
    color: #8e8e93;
}

.insta-block .section-content ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.insta-block .section-content ul>li {
    width: 25%;
}

.insta-block .section-content ul>li>a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgb(242, 242, 247);
    transition: all var(--default-transition);
}

.insta-block .section-content ul>li>a::before {
    position: absolute;
    content: '';
    inset: 0;
    background: rgba(var(--theme-black-rgb), .6);
    visibility: hidden;
    opacity: 0;
    transition: all var(--default-transition);
}

.insta-block .section-content ul>li>a:hover::before {
    visibility: visible;
    opacity: 1;
}

.insta-block .section-content ul>li>a>img {
    object-fit: cover;
}

.insta-block .section-content ul>li>a>i {
    position: absolute;
    color: var(--cw);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
}

.insta-block .section-content ul>li>a:hover>i {
    visibility: visible;
    opacity: 1;
}

.subscribe-section .section-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 50px 40px;
    color: var(--cw);
}

.subscribe-section .section-content h2,
.subscribe-section .section-content p,
.subscribe-section .section-content form {
    flex: 1;
}

.subscribe-section .section-content h2 {
    font-size: 26px;
    line-height: 36px;
    text-wrap: balance;
}

.subscribe-section .section-content p {
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    text-wrap: balance;
}

.subscribe-section .section-content form {
    display: flex;
    align-items: center;
    padding: 3px 0 3px 3px;
    border-radius: 8px;
}

.subscribe-section .section-content form input {
    width: calc(100% - 50px);
    height: 42px;
    border: none;
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 6px;
}

.subscribe-section .section-content form button {
    width: 50px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-ash-2);
}

.footer-middle .section-content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.footer-middle .section-content .footer-col summary {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--theme-gray);
    display: inline-flex;
    pointer-events: none;
}

.footer-middle .section-content .footer-col summary::marker {
    content: '';
}

.footer-middle .section-content .footer-col ul {
    margin-inline-start: 5px;
}

.footer-middle .section-content .footer-col ul li {
    position: relative;
}

.footer-middle .section-content .footer-col ul li+li {
    margin-top: 10px;
}

.footer-middle .section-content .footer-col ul li a {
    font-size: 14px;
    display: inline-flex;
    align-items: center;
}

.footer-middle .section-content .footer-col ul li a i {
    margin-inline-end: 8px;
    line-height: 10px;
}

.footer-middle .section-content .footer-col ul.social-media li {
    padding-inline-start: 0;
}

.footer-middle .section-content .footer-col ul.social-media li::before {
    display: none;
}

.footer-bottom {
    margin-top: 50px;
    background: var(--cw);
    padding-block: 10px;
    color: var(--theme-black);
}

.payment-methods {
    display: flex;
    column-gap: 10px;
}

.payment-methods figure {
    padding: 0 6px;
    width: 40px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid var(--theme-black);
    background: var(--cw);
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-methods figure img {
    object-fit: contain;
}

.footer-nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer-nav .custom-select .custom-options {
    top: initial;
    bottom: 0;
}

.footer-nav .custom-select-container.open-up .custom-options {
    bottom: 100%;
}

.footer-nav .custom-select .selected-item>span:not(.arrow) {
    font-size: 14px;
}

.footer-nav>a,
.footer-nav>p {
    font-size: 14px;
    margin-inline-start: 20px;
}


.product-filters {
    display: flex;
    column-gap: 30px;
    margin-bottom: 20px;
}

.product-filters .custom-select .selected-item {
    padding: 10px 20px;
    border-radius: 8px;
    background: var(--cw);
}

.product-filters .custom-select .selected-item>span:not(.arrow) {
    margin-inline-start: 0;
}

.short-info-block {
    background: rgba(var(--theme-secondary-rgb), .3);
}

.short-info-block h3 {
    margin-bottom: 10px;
}

.short-info-block p {
    font-size: 18px;
    line-height: 30px;
    color: var(--theme-black);
}

.contact-content ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.contact-content ul li {
    flex-basis: 25%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--cw);
    background: var(--theme-gray);
    border-radius: 8px;
    padding: 30px 0;
    transition: all var(--default-transition);
}

.contact-content ul li:hover {
    color: var(--theme-secondary);
    background: var(--theme-primary);
}

.contact-content ul li span {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}

.contact-content ul li svg {
    width: 60px;
    height: 60px;
}

.faq-section .section-content {
    max-width: 100%;
    width: 900px;
    margin-inline: auto;
}

.faq-section .section-content details {
    border: 1px solid rgba(var(--theme-black-rgb), .1);
    border-radius: 16px;
    margin-top: 10px;
}

.faq-section .section-content details summary {
    font-family: "Dosis", sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: var(--theme-gray);
    padding: 10px 20px;
    border-bottom: 1px solid rgba(var(--theme-black-rgb), .1);
    position: relative;
    transition: all var(--default-transition);
}

.faq-section .section-content details summary::marker {
    content: '';
}

.faq-section .section-content details summary::before {
    position: absolute;
    content: '+';
    font-size: 30px;
    top: 50%;
    right: 20px;
    transform: translateY(-55%);
}

.faq-section .section-content details .faq-content {
    padding: 20px;
}

.faq-section .section-content details .faq-content>p {
    font-size: 18px;
    line-height: 32px;
}

.faq-section .section-content details .faq-content>p+a {
    font-weight: 600;
    color: var(--theme-primary);
}

.faq-section .section-content details[open] summary {
    color: var(--theme-primary);
}

.faq-section .section-content details[open] summary::before {
    content: '-';
}


/* media queries start */
@media(max-width: 1024px) {
    .ss-t {margin-top: 80px;}
    .ss-b {margin-bottom: 80px;}
    .ss-y {margin-block: 80px;}
    .mobile-menu {
        display: flex;
    }
    .nav-middle {
        display: none;
    }
    .the-menu {
        display: none;
    }
    .site-logo {
        margin-inline-start: 50%;
        transform: translateX(-50%);
    }
    .site-logo>a {
        display: inline-block;
        padding: 10px 0;
    }
    .main-nav {
        padding-inline: 10px;
    }
}

@media(max-width: 991px) {
    .ss-t {margin-top: 60px;}
    .ss-b {margin-bottom: 60px;}
    .ss-y {margin-block: 60px;}
    .hero-section figure video {
        height: 450px;
    }
    .hero-content h1 {
        font-size: 36px;
        line-height: 46px;
        margin-block: 20px 15px;
    }
    .hero-content p {
        margin: 20px 0;
    }
    .group-btns {
        width: 100%;
    }
    .section-header h2 {
        font-size: 28px;
    }
    .section-header p {
        line-height: 26px;
        margin-block: 10px;
    }
    .best-sellers-content .section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .subscribe-section .section-content {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 10px;
        padding: 30px;
    }
    .subscribe-section .section-content form {
        align-self: baseline;
    }
    .best-sellers-content .section-header .theme-btn {
        text-transform: capitalize;
    }
    .insta-block .section-header .titles h2 {
        display: flex;
        flex-direction: column;
    }
    .footer-middle .section-content {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
    .footer-middle .section-content .footer-col {
        flex-basis: calc(50% - 15px);
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .contact-content ul li {
        flex-basis: 30%;
    }
}

@media(max-width: 767px) {
    .group-btns .theme-btn {
        padding: 10px 5px;
    }
    .theme-btn,
    .icon-btn {
        padding: 10px 20px;
        font-size: 13px;
        font-weight: 500;
    }
    .ss-t {margin-top: 40px;}
    .ss-b {margin-bottom: 40px;}
    .ss-y {margin-block: 40px;}
    .hero-section figure video {
        height: 320px;
    }
    .hero-content h1 {
        font-size: 28px;
        line-height: 38px;
    }
    .hero-content .group-btns {
        max-width: 100%;
        width: 50%;
        margin-inline: auto;
    }
    .section-header h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .collection-banner .section-content {
        padding: 20px;
        height: 400px;
        background: url(../images/hero/02.jpg) no-repeat left top / cover;
    }
    .collection-banner .section-content .section-header h2 {
        font-size: 28px;
    }
    .collection-banner .section-content .section-header p {
        margin-block: 10px 15px;
    }
    .collection-banner .section-content .theme-btn {
        display: flex;
        justify-content: center;
        width: 70%;
    }
    .insta-block .section-content ul>li {
        width: 50%;
    }
    .footer-bottom {
        margin-top: 20px;
    }
    
    .footer-bottom .footer-nav {
        display: block;
        text-align: center;
    }
    
    .footer-bottom .footer-nav .custom-select-container {
        margin-inline: auto;
    }
    
    .footer-bottom .footer-nav > a,
    .footer-bottom .footer-nav > p {
        margin-inline-start: 0;
    }
    
    .footer-bottom .footer-nav > a + a {
        margin-inline-start: 15px;
    }    
}

@media(max-width: 575px) {
    .best-sellers-content .section-header .theme-btn {
        padding: 5px 15px;
    }
    .best-sellers-content .section-header .theme-btn i {margin-inline-start: 3px;}
    .best-sellers-content .section-header .theme-btn i svg {
        width: 10px;
        height: 10px;
    }
    .hero-content .group-btns {
        width: 100%;
        margin-inline: auto;
    }
    .collection-banner .section-content .theme-btn {
        width: 100%;
    }
    .collection-banner .section-content .section-header h2 {
        font-size: 22px;
        line-height: 36px;
        font-weight: 600;
    }
    .collection-banner .section-content .section-header p {
        margin-block: 10px;
        font-size: 15px;
    }
    .footer-middle {background: #FAFAFC;}
    .footer-middle .section-content {
        flex-direction: column;
        gap: 0;
    }
    .footer-middle .section-content .footer-col + .footer-col {
        border-top: 1px solid rgba(var(--theme-black-rgb), .05);
    }
    .footer-middle .section-content .footer-col summary {
        pointer-events: all;
        cursor: pointer;
        font-size: 15px;
        font-weight: 400;
        color: var(--theme-black);
        display: flex;
        padding: 20px 0;
        margin-bottom: 0;
    }
    .footer-middle .section-content .footer-col summary::before {
        position: absolute;
        content: '+';
        font-weight: 400;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }
    .footer-middle .section-content .footer-col[open] summary::before {
        content: '-';
    }
    .footer-middle .section-content .footer-col>ul {
        padding: 10px 5px 0;
        max-height: 0;
        transition: max-height var(--default-transition);
    }
    .footer-middle .section-content .footer-col[open]>ul {
        max-height: 400px;
    }
    .footer-middle .section-content .footer-col ul {
        padding-block: 0 10px;
    }
    .footer-middle .section-content .footer-col ul>li + li {margin-top: 8px;}
    .footer-middle .section-content .footer-col ul>li>a {
        font-size: .9rem;
        color: var(--theme-ash-2);
    }
    .contact-content ul>li {
        flex-basis: calc(50% - 16px);
    }
}

@media(max-width: 390px) {
    .contact-content ul>li {
        flex-basis: 100%;
    }
}

@media(min-width: 320px) {
    .insta-block .section-content ul {
        flex-direction: row;
    }
}


/* media queries end */